<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
</head>
<body>
    <ul>
        {% if user.is_authenticated %}
            <p>로그인함!</p>
            <p>{{user}}님 안녕하세요!</p>
            <li><a href={% url 'accounts:logout' %}>로그아웃</a></li>
        {% else %}
            <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
            <li><a href="{% url 'accounts:login' %}">로그인</a></li>
        {% endif %}
         <li><a href="{% url 'todos:create' %}">글작성</a></li>
         <li><a href="{% url 'todos:list' %}">글보기</a></li>
        <li></li>
    </ul>
    {% block body_block %}
    {% endblock %}
</body>
</html>